# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar


# Maven
*/target/
/target/

# other
/lib/
/logs/
/distribution/
ultimategdbot.jar
/config/*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/bin/*

# temp files
*~

# hidden files
.*
!.gitignore
!.gitkeep
!/.circleci/

*Backup
/release.properties

/mappings/*.hbm.xml

dependency-reduced-pom.xml
